@import url('../fonts/cairo/font-cairo.css');

body {
  font-family: 'Cairo', sans-serif;
  font-size: 1vw;
  position: relative;
  padding-bottom: 330px;
  min-height: 100vh;
}

footer {
  color: lightgray;
  height: 330px;
  background-color: black;
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  margin-top: 150px;
  margin-bottom: 150px;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
}

.landing {
  margin-bottom: 200px;
}

.landing-title-span {
  color: #ce1a1a
}

.services-item {
  padding-bottom: 80px;
}

.services-icon {
  margin: 30px;
}

.background-ref {
  position: relative;
  text-align: center;
}

.link-ref {
  font-size: 3vw;
  color: black;
}

.link-ref-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.bg-image-ref {
  filter: opacity(50%) blur(3px);
}

.portrait {
  max-width: 350px;
  max-height: 350px;
  margin-bottom: 30px;
}

.actual {
  margin-top: 50px;
  margin-bottom: 100px;
}

.reference {
  margin-top: 50px;
}

.references-block {
  margin-bottom: 100px;
}

.address {
  color: black;
}

.logo {
  max-width: 60px;
}

.footer-links {
  color: lightgray;
}

/*=================================================================
  Navigation
==================================================================*/

.navigation {
  background-color: black;
  width: 100%;
  margin-bottom: 0;
}

.nav-link {
  font-size: 1.4vw;
  margin-left: 10px;
}

.navbar-toggler:focus {
  outline: 0;
}

.tab-pane.active .clearfix:first-child {
  margin-bottom: 25px;
}

/*=================================================================
  Keep size on small screens
==================================================================*/
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 36px;
  }
  h2 {
      font-size: 24px;
  }
  .link-ref  {
    font-size: 36px;
  }
}

@media screen and (max-width: 1333px) {
  h3 {
     font-size: 20px;
  }
}

@media screen and (max-width: 1428px) {
  .nav-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 1500px) {
  main {
    margin-top: 100px;
  }
  .landing {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1800px) {
  body {
    font-size: 18px;
  }
}